#itemCount-container{
    width: 15%;
    margin: 0 auto;
    display:flex;
    flex-direction: column;

}
#contador-container{
    display:flex;
    flex-direction:row;
    
    
}
#numero{
    width: 70%;
    text-align: center;
    margin: 5px 0;
    padding: 5px 0;
    border-radius:5px;
    border: 1px solid rgba(112, 110, 110, 0.145);
    
    background-color: rgb(204,229,255,.4);
}



#controlador{
    margin: 5px 6px;
    width: 10%;
    height: 30px;
    background-color: rgba(204, 229, 255, 0.611);
    border: 1px solid rgba(112, 110, 110, 0.145);
    border-radius:5px;
    cursor:pointer;
}
#controlador:hover{
    background-color: rgba(204, 229, 255, 0.452);
}



#boton-container{
    display: flex;
    
    
}

#boton-container button{
    margin: 5px 5px;
    width: 50%;
    height: 40px;  
}

#eliminar {
    height: 50px;
    cursor: pointer;
    align-items: center;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
    background-color:rosybrown;
    color: white;
    font-weight: bold;   
    text-align: center;
}


#eliminar:hover{
    background: rgb(230,34,34,.8);
}

#agregar{
    height: 50px;
    cursor: pointer;
    align-items: center;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
    background-color:rgb(143, 188, 145);
    color: white;
    font-weight: bold;   
    text-align: center;
}

#agregar:hover{
    background-color: rgb(0,180,0,.8);
}
